.titulo{
    text-align: center;
    font-size: 350%;
}

.descripcion{
    text-align: center;
}

.cardGrupo{
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 20%;
}

.cardTitulo{
    border-style: none;
}

.cardComentarios{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.botonBiblioteca{
    padding: 17px;
    width: 15%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}