.titulo{
    text-align: center;
    font-size: 250%;
}

.descripcion{
    text-align: center;
}

.cardGrupo{
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 20%;
}

.cardTitulo{
    border-style: none;
}

.cardComentarios{
    margin-top: 2%;
    height: 200%;
    padding-bottom: 30%;
}

.columnas{
    margin-top: 2%;
}

.botonBiblioteca{
    text-align: center;
    margin-top: 6%;
}

.usuariosTitulo{
    font-size: 140%;
    margin-top: 10%;
    margin-bottom: 8%;
    color: crimson;
}

.usuarios{
    font-size: 95%;
    margin-top: 1%;
}