.formularioComunidad{
    padding: 17px;
    width: 800px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botonCrear{
    padding: 0.7%;
    width: 9%;
    margin-top: 1%;
}

.botonVolverForm{
    padding: 0.7%;
    width: 10%;
    margin-top: 1%;
    margin-left: 1%;
}