.loginCompleto{
    border-radius: 8px;
    border: 1px solid rgb(235, 232, 232);
    background-color: rgb(238, 237, 241); 
    padding: 17px;
    width: 350px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.espaciado{
    margin-left: 1%;
}

.botones{
    padding-top: 2%;
}

.espacioPregunta{
    margin-top: 3%;
}

.botonIngresar{
    padding-top: 1%;
    padding-bottom: 1%;
}

.login-input{
    padding: 1.5%;
}